.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.app {
    margin-top: 10px;
    border: #d79922 2px solid;
    width: 99%;
    min-height: 95vh;
}



@font-face {
    font-family: Hack;
    src: url(./fonts/Hack/Hack-Regular.ttf);
    
}

* {
    font-size: 15px;
    font-family: Hack, Hermit, Courier, monospace;
} 

.photo {

}
