/* _content/Term2/Pages/Index.razor.rz.scp.css */
.main[b-eiwg7q3ipz] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.app[b-eiwg7q3ipz] {
    margin-top: 10px;
    border: #d79922 2px solid;
    width: 99%;
    min-height: 95vh;
}



@font-face {
    font-family: Hack;
    src: url(./fonts/Hack/Hack-Regular.ttf);
    
}

*[b-eiwg7q3ipz] {
    font-size: 15px;
    font-family: Hack, Hermit, Courier, monospace;
} 

.photo[b-eiwg7q3ipz] {

}

@media only screen and (max-width: 500px) {
    *[b-eiwg7q3ipz] {
        font-size: 12px;
    }
}

/* _content/Term2/Shared/Banner.razor.rz.scp.css */
.main[b-rk9nxxek5e] {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    main[b-rk9nxxek5e] {
        font-size: 4px;
    }
}

@media only screen and (min-width: 600px) {
    main[b-rk9nxxek5e] {
        font-size: 8px;
    }
}

@media only screen and (min-width: 1024px) {
    main[b-rk9nxxek5e] {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1400px) {
    main[b-rk9nxxek5e] {
        font-size: 15px;
    }
}
/* _content/Term2/Shared/MainLayout.razor.rz.scp.css */
.page[b-v135a4itqq] {
    width: 100%;
    height: 100%;
}


/* _content/Term2/Shared/Photo.razor.rz.scp.css */


#tiresult[b-qvc8yozmow] {
    font-size: 15px; 
    background-color: transparent;
    font-weight: bold; 
    padding: 4px 5px; 
    --fs: 16px; 
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    #tiresult[b-qvc8yozmow] {
        font-size: 3px;
    }
}

@media only screen and (min-width: 500px) {
    #tiresult[b-qvc8yozmow] {
        font-size: 5px;
    }
}

@media only screen and (min-width: 768px) {
    #tiresult[b-qvc8yozmow] {
        font-size: 9px;
    }
}
@media only screen and (min-width: 992px) {
    #tiresult[b-qvc8yozmow] {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1200px) {
    #tiresult[b-qvc8yozmow] {
        font-size: 15px;
    }
}
/* _content/Term2/Shared/Response.razor.rz.scp.css */
.main[b-8hjvwxa3ie] {
    margin: 2px;
    padding: 2px;
    color: #ebdcb2;
}

.component[b-8hjvwxa3ie] {
    display: flex;
    justify-content: center;
}
/* _content/Term2/Shared/Terminal.razor.rz.scp.css */
.main[b-uyz75hxoma] {
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.name[b-uyz75hxoma] {
    padding: 0;
    margin: 0;
    min-width: fit-content;
}

.input[b-uyz75hxoma] {
    flex-shrink: 5;
    width: 70%;
    border: none;
    margin-left: 8px;
    background-color: transparent;
    color: #ebdcb2;
}

input:focus[b-uyz75hxoma] {
    outline: none;
}
