<main class="banner-mobile">
    <pre>
                                                                                                                                                                        
 ___      ___     ______    _______   __    ___       _______  
|"  \    /"  |   /    " \  |   _  "\ |" \  |"  |     /"     "| 
 \   \  //   |  // ____  \ (. |_)  :)||  | ||  |    (: ______) 
 /\\  \/.    | /  /    ) :)|:     \/ |:  | |:  |     \/    |   
|: \.        |(: (____/ // (|  _  \\ |.  |  \  |___  // ___)_  
|.  \    /:  | \        /  |: |_)  :)/\  |\( \_|:  \(:      "| 
|___|\__/|___|  \"_____/   (_______/(__\_|_)\_______)\_______) 
                                                               
</pre>
</main>