

#tiresult {
    font-size: 15px; 
    background-color: transparent;
    font-weight: bold; 
    padding: 4px 5px; 
    --fs: 16px; 
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    #tiresult {
        font-size: 3px;
    }
}

@media only screen and (min-width: 500px) {
    #tiresult {
        font-size: 5px;
    }
}

@media only screen and (min-width: 768px) {
    #tiresult {
        font-size: 9px;
    }
}
@media only screen and (min-width: 992px) {
    #tiresult {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1200px) {
    #tiresult {
        font-size: 15px;
    }
}