.main {
    margin: 2px;
    padding: 2px;
    color: #ebdcb2;
    display: flex;
    justify-content: start;
    align-items: center;
}

p {
    padding: 0;
    margin: 0;
}

.input {
    width: 90%;
    background-color: yellow;
    all: unset;
    border: none;
    margin-left: 8px;
    /*background-color: transparent;*/
    color: #ebdcb2;
}

input:focus {
    outline: none;
}