.main[b-eiwg7q3ipz] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.app[b-eiwg7q3ipz] {
    margin-top: 10px;
    border: #d79922 2px solid;
    width: 99%;
    min-height: 95vh;
}



@font-face {
    font-family: Hack;
    src: url(./fonts/Hack/Hack-Regular.ttf);
    
}

*[b-eiwg7q3ipz] {
    font-size: 15px;
    font-family: Hack, Hermit, Courier, monospace;
} 

.photo[b-eiwg7q3ipz] {

}

@media only screen and (max-width: 500px) {
    *[b-eiwg7q3ipz] {
        font-size: 12px;
    }
}

